<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/kiran.kushwah/IdeaProjects/Automation_API/src/test/java/RestassureHelloworld/RassuredAssured/CRUD/PUT_REQUEST/Put_Request_NonBDD.java">
        <classes>
            <class name="RestassureHelloworld.RassuredAssured.CRUD.PUT_REQUEST.Put_Request_NonBDD">
                <methods>
                    <include name="test_putPositive_tc"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>